﻿@model IEnumerable<Blog>
<style>
    ._BlogList {
        max-height: 280px;
        min-height: 280px;
    }
</style>
@if (Model.Count() == 0)
{
    <div class="alert alert-warning">
        Bu Kategoriye Ait Kayıt Bulunmamaktadır.
    </div>
}
else
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 ">
                <div class="card mb-2">
                    <div class="card-header">
                        @item.Title
                    </div>
                    <img class="card-img-top _BlogList" src="~/img/@item.Image" alt="Card image cap">
                    <div class="card-block">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Description</p>
                        <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId" class="btn btn-primary">Blog Details</a>
                    </div>
                </div>
            </div>

        }
    </div>

}
