﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bundle.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">

    <title>Blog</title>
</head>
<body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">


        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Blog</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Blog">Blog</a>
                </li>
            </ul>
            @Html.Partial("_SearchBox.cshtml")
        </div>
    </nav>

    <div id="main">
        <div class="container">
            @if (TempData["Message"] != null)
            {
                <div class="alet alert-success">
                    @TempData["Message"]
                </div>
            }
            @RenderBody()
        </div>
    </div>

    <script src="~/js/bundle.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
