﻿@model IEnumerable<Blog>

<style>
    .sliderImg {
        max-width: 900px;
        min-width: 900px;
        max-height: 350px;
        min-height: 350px;
    }
</style>
<div id="carouselExampleIndicators" class="carousel slide mb-3" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Count(); i++)
        {
            if (i == 0)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="active"></li>
            }
            else
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
            }

        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @{ var index = 0;}
        @foreach (var item in Model)
        {
            if (index == 0)
            {
                <div class="carousel-item active">
                    <img class="d-block img-fluid sliderImg" src="~/img/@item.Image" alt="@item.Title">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@item.Title</h5>
                        <p>@item.Description</p>
                    </div>
                </div>
                index++;
            }
            else
            {
                <div class="carousel-item">
                    <img class="d-block img-fluid sliderImg" src="~/img/@item.Image" alt="@item.Title">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@item.Title</h5>
                        <p>@item.Description</p>
                    </div>
                </div>
            }

        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>