﻿@model Category
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="alert alert-warning">
        <h2>@Model.Name</h2> Kaydı Silmek İstiyor Musunuz ?
    </div>
    <form asp-controller="Category" asp-action="Delete" method="post">
        <input type="hidden" asp-for="CategoryId" />
        <button type="submit" class="btn btn-danger">Delete</button>

    </form>

</div>

