﻿@model HomeBlogModel
@{
    ViewData["Title"] = "Index";
}

<div class="container my-4">
    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("CategoryMenu")
        </div>
        <div class="col-md-9">
            @Html.Partial("_Slider", Model.SliderBlogs)
            @Html.Partial("_BlogList", Model.HomeBlogs)
        </div>
    </div>

</div>