﻿@model Blog
@{
    ViewData["Title"] = "AddOrUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Add or Update</h2>
    <br />

    <form asp-controller="Blog" asp-action="AddOrUpdate" method="post">
        <input type="hidden" asp-for="BlogId" />
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Body"></label>
            <textarea asp-for="Body" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Image"></label>
            <textarea asp-for="Image" class="form-control"></textarea>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="IsApproved" type="checkbox" class="form-check-input">
                Is Approved
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="IsHome" type="checkbox" class="form-check-input">
                Is Home
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="IsSlider" type="checkbox" class="form-check-input">
                Is Slider
            </label>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                <option disabled selected value="">
                    Select Category
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

</div>
