﻿@model Blog
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="alert alert-warning">
        <h2>@Model.Title</h2> Kaydı Silmek İstiyor Musunuz ?
    </div>
    <form asp-controller="Blog" asp-action="Delete" method="post">
        <input type="hidden" asp-for="BlogId" />
        <button type="submit" class="btn btn-danger">Delete</button>

    </form>

</div>
