﻿@model Blog
@{
    ViewData["Title"] = "Details";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("CategoryMenu")
        </div>
        <div class="col-md-9">
            <div class="card mb-2">
                <div class="card-header">
                    @Model.Title
                </div>
                <img class="card-img-top" src="~/img/@Model.Image" alt="@Model.Title">
                <div class="card-block">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">@Model.Description</p>
                    <p class="card-text">@Html.Raw(Model.Body)</p>
                    
                </div>
            </div>
        </div>
    </div>

</div>
