﻿@model Blog
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{

    @*<script src="~/bower_components/ckeditor/ckeditor.js"></script>*@ @*Bunu görmedi*@
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Body");
    </script>
}

<div class="container">
    <h2>Edit</h2>
    <br />

    <form asp-controller="Blog" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="BlogId" />
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Body"></label>
            <textarea asp-for="Body" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label>Image</label>
            <br />
            <img src="~/img/@Model.Image" width="120" />
            <input type="hidden" asp-for="Image" />
            <input type="file" name="file" id="file" class="form-control" />
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="IsApproved" type="checkbox" class="form-check-input">
                Is Approved
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="IsHome" type="checkbox" class="form-check-input">
                Is Home
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="IsSlider" type="checkbox" class="form-check-input">
                Is Slider
            </label>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                <option disabled selected value="">
                    Select Category
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>

</div>