﻿@model IEnumerable<Blog>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container mt-3">
    <h2>Blog List</h2>
    <hr />
    <div>
        <a class="btn btn-success" asp-controller="Blog" asp-action="Create">Create</a>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Is Approved</th>
                            <th>Is Home</th>
                            <th>Is Slider</th>
                            <th>Transaction</th>
                            <th>Transaction</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.BlogId</td>
                            <td>
                                <img src="~/img/@item.Image" width="100" />
                            </td>
                            <td>@item.Title</td>
                            <td>@item.Date</td>
                            <td>

                                @if (item.IsApproved)
                                {
                                    <i class="fas fa-check" aria-hidden="true"></i>

                                }
                                else
                                {
                                    <i class="fas fa-times" aria-hidden="true"></i>
                                }
                            </td>
                            <td>
                                @if (item.IsHome)
                                {
                                    <i class="fas fa-check" aria-hidden="true"></i>

                                }
                                else
                                {
                                    <i class="fas fa-times" aria-hidden="true"></i>
                                }
                            </td>
                            <td>
                                @if (item.IsSlider)
                                {
                                    <i class="fas fa-check" aria-hidden="true"></i>

                                }
                                else
                                {
                                    <i class="fas fa-times" aria-hidden="true"></i>
                                }
                            </td>
                            <td><a class="btn btn-primary btn-sm" asp-controller="Blog" asp-action="Edit" asp-route-id="@item.BlogId">Edit</a></td>
                            <td><a class="btn btn-danger btn-sm" asp-controller="Blog" asp-action="Delete" asp-route-id="@item.BlogId">Delete</a></td>


                        </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    Blog Eklenmemiştir.
                </div>
            }
        </div>
    </div>

</div>


